<!-- About -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="three columns">
        <img class="u-max-full-width" src="{{ "/assets/img/" | prepend: site.baseurl }}tom.jpg" alt="">
      </div>
      <div class="nine columns abstract">
        {{ site.description | markdownify}}
        <div>
          <a href="mailto:tom.le.paine@gmail.com">tom.le.paine@gmail.com</a> /
          <a href="mailto:paine1@illinois.edu">paine1@illinois.edu</a>
        </div>
        <div>
          <a class="button" href="https://scholar.google.com/citations?user=oFIvUSQAAAAJ&hl=en&oi=ao">Google scholar</a>
        </div>
        <div>
          <a alt="Github" href="https://github.com/tomlepaine"><i class="fa fa-github fa-2x"></i></a>  &nbsp
          <!-- <a alt="Reddit" href="https://www.reddit.com/user/tomlepaine"><i class="fa fa-reddit fa-2x"></i></a>  &nbsp -->
          <!-- <a alt="Twitter" href="https://twitter.com/tomlepaine"><i class="fa fa-twitter fa-2x"></i></a>  &nbsp -->
          <a alt="Linkedin" href="https://www.linkedin.com/in/tomlepaine"><i class="fa fa-linkedin fa-2x"></i></a>  
        </div>
      </div>
    </div>
  </div>
</div>
