<!-- About -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="three columns">
        <img class="u-max-full-width" src="{{ "/assets/img/" | prepend: site.baseurl }}tom.jpg" alt="">
      </div>
      <div class="nine columns abstract">
        {{ site.description | markdownify}}
        <div>
          <a href="mailto:tom.le.paine@gmail.com">tom.le.paine@gmail.com</a> /
          <a href="mailto:paine1@illinois.edu">paine1@illinois.edu</a>
        </div>
        <a class="button" href="https://scholar.google.com/citations?user=oFIvUSQAAAAJ&hl=en&oi=ao">Google scholar</a>
        <a href="https://github.com/tomlepaine"><i class="fa fa-github"></i></a>
        <a class="button" href="https://github.com/tomlepaine">Github</a>
        <a class="button" href="https://www.linkedin.com/in/tomlepaine">Linkedin</a>
      </div>
    </div>
  </div>
</div>
