<div class="section">
  <div class="container">
    <div class="row">
      <div class="three columns">
        <img class="u-max-full-width" src="{{ "/assets/img/" | prepend: site.baseurl }}tom.jpg" alt="">
      </div>
      <div class="nine columns abstract">
        <p>I'm a PhD student in the Image Formation and Processing group at UIUC, advised by Professor Thomas Huang.</p>

        <p>I'm applying deep learning to computer vision. Especially speeding it up, and making it work with less labeled data.</p>
        <div>
          <a href="mailto:tom.le.paine@gmail.com">tom.le.paine@gmail.com</a> /
          <a href="mailto:paine1@illinois.edu">paine1@illinois.edu</a>
        </div>
        <a class="button" href="https://scholar.google.com/citations?user=oFIvUSQAAAAJ&hl=en&oi=ao">Google scholar</a>
        <a class="button" href="https://github.com/tomlepaine">Github</a>
        <a class="button" href="https://www.linkedin.com/in/tomlepaine">Linkedin</a>
      </div>
    </div>
  </div>
</div>
