<div class="section">
  <div class="container">
    <h2 class="orange">Code</h2>
    <div class="row">

      <div class="three columns">
        <img class="img-responsive" src="{{ "/assets/img/code/" | prepend: site.baseurl }}anna.png" alt="">
      </div>

      <div class="nine columns abstract">
        <div class="orange">Anna</div>
        <div>A python micro-framework for training neural networks. Built on top of Theano.</div>
        <pre><code>
          from anna import layers
          input = layers.Input()
          conv1 = layers.conv1(input=input)
        </code></pre>
        <a class="button" href="">Github</a>
      </div>

    </div>
    <hr>
  </div>
</div>
